<%= link_to "ログアウト", logout_path, method: :delete if logged_in?%>
<div class="container">
  <div class="wrapper">
  <%= render "follow_form" %>
    <h1 class="title">UserProfilePage</h1>
    <div class="personal_profile">
      <div class="name">Name:<%=@user.name%></div>
      <div class="email">Email:<%=@user.email%></div>
    </div>
  <% if @user.id == current_user.id %>
  <div>
  <button id="post_btn">投稿</button>
  </div>
  <% end %>



  <div id="post_screen">
    <%= form_with(model:current_user.posts.build, local:true) do |f| %>
    <%= f.label :content, '内容', id:'post_label' %>
    <%= f.text_field :content, id:'post_field' %>
    
    <%= f.submit "送る" , id:'send_btn', class:"js_send_btn" %>
    <% end %>
  </div>

  <% if @user.posts.any? %>
    <ul id = "post_ul">
      <% @posts.each do |post| %>
    <li class="posts_list">
  <%= link_to "コメントページ", post_comments_path(post) %>
      <%= post.content %> 
      <%# #~path(post)とすることで、post_idを渡している？
      #form_withのデフォルトはpostなのでmethodの指定は不要？
      #POST /posts/:post_id/comments(.:format) comments#create %>
      <%= form_with(session: :comment, url:post_comments_path(post),local:true) do |f| %>
      <%= f.text_area :comment %>
      <%= f.submit 'コメントする' %>
      <% end %>

      

      <% if @user.id == current_user.id %> 
      <%= link_to "削除", "/posts/#{post.id}", method: :delete, data:{confirm:"本当に削除しますか？"} %> 
      <%= link_to "編集", edit_post_path(post), id:"post_edit"%>
      <% end %>
    </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'post_edit' %>